In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import sys
sys.path.append("../")

import pandas as pd
import time
from azureml.core import Workspace
ws = Workspace.from_config()

kv=ws.get_default_keyvault()

Failure while loading azureml_run_type_providers. Failed to load entrypoint automl = azureml.train.automl.run:AutoMLRun._from_run_dto with exception (pyarrow 7.0.0 (c:\users\janguy\anaconda3\envs\dlresearch\lib\site-packages), Requirement.parse('pyarrow<4.0.0,>=0.17.0'), {'azureml-dataset-runtime'}).
Failure while loading azureml_run_type_providers. Failed to load entrypoint azureml.PipelineRun = azureml.pipeline.core.run:PipelineRun._from_dto with exception (azureml-core 1.39.0 (c:\users\janguy\anaconda3\envs\dlresearch\lib\site-packages), Requirement.parse('azureml-core~=1.38.0')).
Failure while loading azureml_run_type_providers. Failed to load entrypoint azureml.ReusedStepRun = azureml.pipeline.core.run:StepRun._from_reused_dto with exception (azureml-core 1.39.0 (c:\users\janguy\anaconda3\envs\dlresearch\lib\site-packages), Requirement.parse('azureml-core~=1.38.0')).
Failure while loading azureml_run_type_providers. Failed to load entrypoint azureml.StepRun = azureml.pipeline.core.run:StepRun._from_dto with exception (azureml-core 1.39.0 (c:\users\janguy\anaconda3\envs\dlresearch\lib\site-packages), Requirement.parse('azureml-core~=1.38.0')).

#### Prerequisite
If you use the provision feature, then just need a workspace ws object
If you need to create the cluster manually
    1. Create a service principal and secret (SP)
    2. Provision an ADX cluster and create a DB
    3. Add the SP to be contributor of the cluster
    4. pip install following packages: pip install --upgrade azure-mgmt-kusto azure-kusto-ingest azure-kusto-data azure-identity

#### Provisioning resource

The following code provision ADX cluster and register neccessary information at the workspace's keyvault

In [ ]:
#Option to set parameters to a custom ADX cluster
# from monitoring import KV_SP_ID, KV_SP_KEY, KV_ADX_DB, KV_ADX_URI, KV_TENANT_ID
# tenant_id = "72f988bf-86f1-41af-91ab-2d7cd011db47"
# #Application ID
# client_id = "af883abf-89dd-4889-bdb3-1ee84f68465e"
# #Client Secret, set it at your WS' keyvault with key name same as your client_id
# client_secret = kv.get_secret(client_id)
# subscription_id = "0e9bace8-7a81-4922-83b5-d995ff706507"

# cluster_uri = "https://adx02.westus2.kusto.windows.net" #URL of the ADX Cluster
# kv.set_secret(KV_SP_ID,client_id)
# kv.set_secret(KV_SP_KEY,client_secret)
# kv.set_secret(KV_ADX_DB,"db01")
# kv.set_secret(KV_ADX_URI,cluster_uri)
# kv.set_secret(KV_TENANT_ID,tenant_id)

In [ ]:
from monitoring.management import provision
provision(ws)

#### Test Ingestion

In [ ]:
from monitoring.data_collector import Online_Collector
table_name = "isd_weather_test4" #new dataset

sample_pd_data = pd.read_parquet("data/test_data.parquet").head(10)
sample_pd_data['timestamp'] = sample_pd_data['datetime']
sample_pd_data.drop(['datetime'], inplace=True, axis=1)

online_collector = Online_Collector(table_name,ws=ws)

In [ ]:
online_collector.cluster_uri

In [ ]:
online_collector.stream_collect_df(sample_pd_data)

In [ ]:
online_collector.batch_collect(sample_pd_data)

### Streaming Ingestion and Real Time Visualization

In [ ]:

# Ingest streaming data  asynchronously with internal buffering mechanism to lower impact to main scoring thread
streaming_table_name="streaming_test"
streaming_collector = Online_Collector(streaming_table_name,ws=ws)

import random
streaming_collector.start_logging_df(buffer_time=2, batch_size=10)

for run_id in ["r000001", "r000002", "r000003", "r000004", "r000005"]:
    for i in range(1000):
        for lr in ["0.001", "0.002"]:
            df = pd.DataFrame({ "timestamp":pd.to_datetime('today'), "lr":[lr],"metric1":[random.uniform(3,50)] })
            streaming_collector.stream_collect_df_queue(df)
# streaming_collector.stop_logging()

In [ ]:
from monitoring.query import RT_Visualization
rt_viz =RT_Visualization(streaming_table_name,ws)
rt_viz.scatter(max_records=200, ago='12h',groupby='lr', y_metric='metric1',x_metric='timestamp')

### Anomaly Detection

In [ ]:
from monitoring.query import KustoQuery
query = KustoQuery(streaming_table_name, ws)

query.anomaly_detection(min_t="4/26/2022 10:08:45", max_t="4/23/2022 10:10:00", step="0.5s", metric="metric1", agg="avg", ts_col="timestamp", groupby="lr", sensitivity=0.1, filter="0.001")

### Drift Query

In [20]:
from monitoring.drift_analysis import Drift_Analysis
drift_analysis =Drift_Analysis(ws)

In [21]:
df_output = drift_analysis.analyze_drift(limit=30000000,base_table_name = 'ISDWeather',tgt_table_name='ISDWeather', base_dt_from='2013-04-13', base_dt_to='2014-05-13', tgt_dt_from='2013-04-13', tgt_dt_to='2014-05-13', bin='30d')

In [23]:
df_output

,frequency,numeric_feature,wasserstein,base_min,base_max,base_mean,target_min,target_max,target_mean,categorical_feature,euclidean,base_dcount,target_dcount
0,2014-04-08 00:00:00+00:00,latitude,1.785103,-90,87,40,-90,87,40,usaf,28.0,12320,11572
1,2014-04-08 00:00:00+00:00,latitude,1.785103,-90,87,40,-90,87,40,wban,28.0,2404,2364
2,2014-04-08 00:00:00+00:00,longitude,12.042559,-179,999,-80,-179,999,-80,usaf,28.0,12320,11572
3,2014-04-08 00:00:00+00:00,longitude,12.042559,-179,999,-80,-179,999,-80,wban,28.0,2404,2364
4,2014-04-08 00:00:00+00:00,windSpeed,0.027431,0,90,3,0,79,3,usaf,28.0,12320,11572
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2013-06-12 00:00:00+00:00,year_1,0.867188,2013,2014,2014,2013,2013,2013,wban,28.0,2404,2366
416,2013-06-12 00:00:00+00:00,day_1,5.572159,1,31,14,12,30,21,usaf,28.0,12320,11534
417,2013-06-12 00:00:00+00:00,day_1,5.572159,1,31,14,12,30,21,wban,28.0,2404,2366
418,2013-06-12 00:00:00+00:00,version_1,0.0,1,1,1,1,1,1,usaf,28.0,12320,11534
419,2013-06-12 00:00:00+00:00,version_1,0.0,1,1,1,1,1,1,wban,28.0,2404,2366

In [27]:
from jupyter_dash import JupyterDash
from datetime import date
from dateutil import parser
import plotly.express as px
from dash import Dash, dcc, html, Input, Output
import plotly.graph_objects as go
import json
from monitoring.drift_analysis import Drift_Analysis
drift_analysis =Drift_Analysis(ws)

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

tables_list = drift_analysis.list_tables()


app.layout = html.Div([
    html.Div([

        html.Div([
            dcc.Dropdown(
                tables_list,
                tables_list[0],
                id='tables',
            ),
            dcc.DatePickerRange(
            id='timeline',

            ),
            dcc.Store(id='intermediate-value')
        ], style={'width': '20%', 'display': 'inline-block'}),

        html.Div([ dcc.Dropdown(
                id='columns'
            ),

        ], style={'width': '20%', 'float': 'right', 'display': 'inline-block'})
    ]),

    dcc.Graph(id='graph'),


])

@app.callback(
    Output('columns', 'options'),
    Input('tables', 'value'))
def set_columns_options(table_name):
    return drift_analysis.list_table_columns(table_name)['AttributeName'].values

@app.callback(
    Output('columns', 'value'),
    Input('columns', 'options'))
def set_columns_value(available_options):
    return available_options[0]
@app.callback(
    [Output('timeline', 'min_date_allowed'),Output('timeline', 'max_date_allowed'),Output('timeline', 'initial_visible_month'),Output('timeline', 'start_date'), Output('timeline', 'end_date')],
    Input('tables', 'value'))
def set_columns_options(table_name):
    time_range =drift_analysis.get_time_range(table_name)

    start_date = parser.parse(time_range[0]).replace(microsecond=0, second=0, minute=0)
    end_date = parser.parse(time_range[1]).replace(microsecond=0, second=0, minute=0)
    
    return [start_date, end_date,end_date, start_date, end_date]
@app.callback(
    Output('intermediate-value', 'data'),
    Input('tables', 'value'),
    Input('timeline', 'start_date'),
    Input('timeline', 'end_date'),     
    )
def calculate(table_name, start_date, end_date):

    query_df = drift_analysis.analyze_drift(limit=100000,base_table_name = f'{table_name}',tgt_table_name=f'{table_name}', base_dt_from=f'{start_date}', base_dt_to=f'{end_date}', tgt_dt_from=f'{start_date}', tgt_dt_to=f'{end_date}', bin='30d')
    # output = json.dumps({"timestamp_col":timestamp_col, "data":query_df.to_json(date_format='iso', orient='split')})
    return query_df.to_json(date_format='iso', orient='split')


@app.callback(
    Output('graph', 'figure'),
    Input('columns', 'value'),
    Input('intermediate-value', 'data')


    )
def update_figure(column,jsonified_cleaned_data):
    # dff = pd.read_json(json.loads(jsonified_cleaned_data['data']), orient='split')
    dff = pd.read_json(jsonified_cleaned_data, orient='split')
    dff.sort_values("frequency", inplace=True)
    if dff[dff['numeric_feature']==column].shape[0]>0:
        y_values = dff[dff['numeric_feature']==column]['wasserstein']
        x_values= dff[dff['numeric_feature']==column]["frequency"]
    elif dff[dff['categorical_feature']==column].shape[0]>0:
        y_values = dff[dff['categorical_feature']==column]['target_dcount']

        x_values = dff[dff['categorical_feature']==column]["frequency"]
    else:
        x_values =[0]
        y_values =[0]
    print(column)
    print("x_values ", x_values)
    print("y_values ", y_values)
    fig = go.Figure([go.Scatter(x=x_values, y=y_values, name=f"{column}")])


    return fig


app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash app running on http://127.0.0.1:8050/
StartTime
x_values  [0]
y_values  [0]
sales
x_values  0      2012-12-14T00:00:00.000Z
1      2012-12-14T00:00:00.000Z
2      2013-01-13T00:00:00.000Z
3      2013-01-13T00:00:00.000Z
4      2013-02-12T00:00:00.000Z
                 ...
119    2017-10-19T00:00:00.000Z
120    2017-11-18T00:00:00.000Z
121    2017-11-18T00:00:00.000Z
122    2017-12-18T00:00:00.000Z
123    2017-12-18T00:00:00.000Z
Name: frequency, Length: 124, dtype: object
y_values  0      14.999465
1      14.999465
2      14.012798
3      14.012798
4      10.743707
         ...
119     4.864690
120     0.743001
121     0.743001
122     5.211975
123     5.211975
Name: wasserstein, Length: 124, dtype: float64
EventId
x_values  0     2021-01-01T00:00:00.000Z
1     2021-01-31T00:00:00.000Z
2     2021-03-02T00:00:00.000Z
3     2021-04-01T00:00:00.000Z
4     2021-05-01T00:00:00.000Z
5     2021-05-31T00:00:00.000Z
6     2021-06-30T00:00:00.000Z
7     2021-07-30T00:00:00.000Z
8     2021-08-29T00:00:00.000Z
9     2021-09-28T00:00:00.000Z
10    2021-10-28T00:00:00.000Z
11    2021-11-27T00:00:00.000Z
12    2021-12-27T00:00:00.000Z
Name: frequency, dtype: object
y_values  0     28854.832761
1     24292.764683
2     20044.368745
3     15419.330974
4     12173.262471
5     10885.157258
6     12116.460626
7     15436.792840
8     18973.532027
9     22197.875372
10    25005.151756
11    28573.997416
12    30064.869368
Name: wasserstein, dtype: float64
usaf
x_values  356    2013-03-14T00:00:00.000Z
354    2013-03-14T00:00:00.000Z
352    2013-03-14T00:00:00.000Z
350    2013-03-14T00:00:00.000Z
348    2013-03-14T00:00:00.000Z
                 ...
190    2014-04-08T00:00:00.000Z
188    2014-04-08T00:00:00.000Z
186    2014-04-08T00:00:00.000Z
184    2014-04-08T00:00:00.000Z
182    2014-04-08T00:00:00.000Z
Name: frequency, Length: 210, dtype: object
y_values  356    2117
354    2117
352    2117
350    2117
348    2117
       ...
190    3315
188    3315
186    3315
184    3315
182    3315
Name: target_dcount, Length: 210, dtype: int64
wban
x_values  357    2013-03-14T00:00:00.000Z
355    2013-03-14T00:00:00.000Z
353    2013-03-14T00:00:00.000Z
351    2013-03-14T00:00:00.000Z
349    2013-03-14T00:00:00.000Z
                 ...
187    2014-04-08T00:00:00.000Z
185    2014-04-08T00:00:00.000Z
183    2014-04-08T00:00:00.000Z
195    2014-04-08T00:00:00.000Z
209    2014-04-08T00:00:00.000Z
Name: frequency, Length: 210, dtype: object
y_values  357     839
355     839
353     839
351     839
349     839
       ...
187    1205
185    1205
183    1205
195    1205
209    1205
Name: target_dcount, Length: 210, dtype: int64
latitude
x_values  330    2013-03-14T00:00:00.000Z
331    2013-03-14T00:00:00.000Z
301    2013-04-13T00:00:00.000Z
300    2013-04-13T00:00:00.000Z
30     2013-05-13T00:00:00.000Z
31     2013-05-13T00:00:00.000Z
151    2013-06-12T00:00:00.000Z
150    2013-06-12T00:00:00.000Z
271    2013-07-12T00:00:00.000Z
270    2013-07-12T00:00:00.000Z
361    2013-08-11T00:00:00.000Z
360    2013-08-11T00:00:00.000Z
120    2013-09-10T00:00:00.000Z
121    2013-09-10T00:00:00.000Z
1      2013-10-10T00:00:00.000Z
0      2013-10-10T00:00:00.000Z
390    2013-11-09T00:00:00.000Z
391    2013-11-09T00:00:00.000Z
211    2013-12-09T00:00:00.000Z
210    2013-12-09T00:00:00.000Z
90     2014-01-08T00:00:00.000Z
91     2014-01-08T00:00:00.000Z
60     2014-02-07T00:00:00.000Z
61     2014-02-07T00:00:00.000Z
241    2014-03-09T00:00:00.000Z
240    2014-03-09T00:00:00.000Z
181    2014-04-08T00:00:00.000Z
180    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  330    1.367995
331    1.367995
301    1.960868
300    1.960868
30     0.554199
31     0.554199
151    0.808213
150    0.808213
271    1.071254
270    1.071254
361    0.584741
360    0.584741
120    3.743048
121    3.743048
1      0.702112
0      0.702112
390    0.790020
391    0.790020
211    0.659374
210    0.659374
90     1.276017
91     1.276017
60     0.802174
61     0.802174
241    0.465004
240    0.465004
181    0.824047
180    0.824047
Name: wasserstein, dtype: float64
longitude
x_values  332    2013-03-14T00:00:00.000Z
333    2013-03-14T00:00:00.000Z
303    2013-04-13T00:00:00.000Z
302    2013-04-13T00:00:00.000Z
32     2013-05-13T00:00:00.000Z
33     2013-05-13T00:00:00.000Z
153    2013-06-12T00:00:00.000Z
152    2013-06-12T00:00:00.000Z
273    2013-07-12T00:00:00.000Z
272    2013-07-12T00:00:00.000Z
362    2013-08-11T00:00:00.000Z
363    2013-08-11T00:00:00.000Z
122    2013-09-10T00:00:00.000Z
123    2013-09-10T00:00:00.000Z
3      2013-10-10T00:00:00.000Z
2      2013-10-10T00:00:00.000Z
392    2013-11-09T00:00:00.000Z
393    2013-11-09T00:00:00.000Z
213    2013-12-09T00:00:00.000Z
212    2013-12-09T00:00:00.000Z
92     2014-01-08T00:00:00.000Z
93     2014-01-08T00:00:00.000Z
62     2014-02-07T00:00:00.000Z
63     2014-02-07T00:00:00.000Z
243    2014-03-09T00:00:00.000Z
242    2014-03-09T00:00:00.000Z
183    2014-04-08T00:00:00.000Z
182    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  332    10.251776
333    10.251776
303    22.177541
302    22.177541
32      8.683066
33      8.683066
153     2.099591
152     2.099591
273     6.440480
272     6.440480
362     1.179959
363     1.179959
122    23.298896
123    23.298896
3       2.603277
2       2.603277
392     5.471306
393     5.471306
213     2.709232
212     2.709232
92      4.242531
93      4.242531
62      3.083281
63      3.083281
243     4.120547
242     4.120547
183     5.564073
182     5.564073
Name: wasserstein, dtype: float64
elevation
x_values  [0]
y_values  [0]
latitude
x_values  330    2013-03-14T00:00:00.000Z
331    2013-03-14T00:00:00.000Z
301    2013-04-13T00:00:00.000Z
300    2013-04-13T00:00:00.000Z
30     2013-05-13T00:00:00.000Z
31     2013-05-13T00:00:00.000Z
151    2013-06-12T00:00:00.000Z
150    2013-06-12T00:00:00.000Z
271    2013-07-12T00:00:00.000Z
270    2013-07-12T00:00:00.000Z
361    2013-08-11T00:00:00.000Z
360    2013-08-11T00:00:00.000Z
120    2013-09-10T00:00:00.000Z
121    2013-09-10T00:00:00.000Z
1      2013-10-10T00:00:00.000Z
0      2013-10-10T00:00:00.000Z
390    2013-11-09T00:00:00.000Z
391    2013-11-09T00:00:00.000Z
211    2013-12-09T00:00:00.000Z
210    2013-12-09T00:00:00.000Z
90     2014-01-08T00:00:00.000Z
91     2014-01-08T00:00:00.000Z
60     2014-02-07T00:00:00.000Z
61     2014-02-07T00:00:00.000Z
241    2014-03-09T00:00:00.000Z
240    2014-03-09T00:00:00.000Z
181    2014-04-08T00:00:00.000Z
180    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  330    1.367995
331    1.367995
301    1.960868
300    1.960868
30     0.554199
31     0.554199
151    0.808213
150    0.808213
271    1.071254
270    1.071254
361    0.584741
360    0.584741
120    3.743048
121    3.743048
1      0.702112
0      0.702112
390    0.790020
391    0.790020
211    0.659374
210    0.659374
90     1.276017
91     1.276017
60     0.802174
61     0.802174
241    0.465004
240    0.465004
181    0.824047
180    0.824047
Name: wasserstein, dtype: float64
windAngle
x_values  [0]
y_values  [0]
temperature
x_values  336    2013-03-14T00:00:00.000Z
337    2013-03-14T00:00:00.000Z
307    2013-04-13T00:00:00.000Z
306    2013-04-13T00:00:00.000Z
37     2013-05-13T00:00:00.000Z
36     2013-05-13T00:00:00.000Z
157    2013-06-12T00:00:00.000Z
156    2013-06-12T00:00:00.000Z
277    2013-07-12T00:00:00.000Z
276    2013-07-12T00:00:00.000Z
366    2013-08-11T00:00:00.000Z
367    2013-08-11T00:00:00.000Z
126    2013-09-10T00:00:00.000Z
127    2013-09-10T00:00:00.000Z
7      2013-10-10T00:00:00.000Z
6      2013-10-10T00:00:00.000Z
396    2013-11-09T00:00:00.000Z
397    2013-11-09T00:00:00.000Z
217    2013-12-09T00:00:00.000Z
216    2013-12-09T00:00:00.000Z
96     2014-01-08T00:00:00.000Z
97     2014-01-08T00:00:00.000Z
66     2014-02-07T00:00:00.000Z
67     2014-02-07T00:00:00.000Z
247    2014-03-09T00:00:00.000Z
246    2014-03-09T00:00:00.000Z
187    2014-04-08T00:00:00.000Z
186    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  336     4.021771
337     4.021771
307     2.984098
306     2.984098
37      7.669982
36      7.669982
157    11.038482
156    11.038482
277    11.167415
276    11.167415
366    10.833203
367    10.833203
126     5.550467
127     5.550467
7       2.551689
6       2.551689
396     4.552890
397     4.552890
217     8.442360
216     8.442360
96      7.990955
97      7.990955
66      6.776261
67      6.776261
247     2.845810
246     2.845810
187     2.220723
186     2.220723
Name: wasserstein, dtype: float64
precipDepth
x_values  [0]
y_values  [0]
countryOrRegion
x_values  [0]
y_values  [0]
usaf
x_values  356    2013-03-14T00:00:00.000Z
354    2013-03-14T00:00:00.000Z
352    2013-03-14T00:00:00.000Z
350    2013-03-14T00:00:00.000Z
348    2013-03-14T00:00:00.000Z
                 ...
190    2014-04-08T00:00:00.000Z
188    2014-04-08T00:00:00.000Z
186    2014-04-08T00:00:00.000Z
184    2014-04-08T00:00:00.000Z
182    2014-04-08T00:00:00.000Z
Name: frequency, Length: 210, dtype: object
y_values  356    2117
354    2117
352    2117
350    2117
348    2117
       ...
190    3315
188    3315
186    3315
184    3315
182    3315
Name: target_dcount, Length: 210, dtype: int64
wban
x_values  357    2013-03-14T00:00:00.000Z
355    2013-03-14T00:00:00.000Z
353    2013-03-14T00:00:00.000Z
351    2013-03-14T00:00:00.000Z
349    2013-03-14T00:00:00.000Z
                 ...
187    2014-04-08T00:00:00.000Z
185    2014-04-08T00:00:00.000Z
183    2014-04-08T00:00:00.000Z
195    2014-04-08T00:00:00.000Z
209    2014-04-08T00:00:00.000Z
Name: frequency, Length: 210, dtype: object
y_values  357     839
355     839
353     839
351     839
349     839
       ...
187    1205
185    1205
183    1205
195    1205
209    1205
Name: target_dcount, Length: 210, dtype: int64
datetime
x_values  [0]
y_values  [0]
latitude
x_values  330    2013-03-14T00:00:00.000Z
331    2013-03-14T00:00:00.000Z
301    2013-04-13T00:00:00.000Z
300    2013-04-13T00:00:00.000Z
30     2013-05-13T00:00:00.000Z
31     2013-05-13T00:00:00.000Z
151    2013-06-12T00:00:00.000Z
150    2013-06-12T00:00:00.000Z
271    2013-07-12T00:00:00.000Z
270    2013-07-12T00:00:00.000Z
361    2013-08-11T00:00:00.000Z
360    2013-08-11T00:00:00.000Z
120    2013-09-10T00:00:00.000Z
121    2013-09-10T00:00:00.000Z
1      2013-10-10T00:00:00.000Z
0      2013-10-10T00:00:00.000Z
390    2013-11-09T00:00:00.000Z
391    2013-11-09T00:00:00.000Z
211    2013-12-09T00:00:00.000Z
210    2013-12-09T00:00:00.000Z
90     2014-01-08T00:00:00.000Z
91     2014-01-08T00:00:00.000Z
60     2014-02-07T00:00:00.000Z
61     2014-02-07T00:00:00.000Z
241    2014-03-09T00:00:00.000Z
240    2014-03-09T00:00:00.000Z
181    2014-04-08T00:00:00.000Z
180    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  330    1.367995
331    1.367995
301    1.960868
300    1.960868
30     0.554199
31     0.554199
151    0.808213
150    0.808213
271    1.071254
270    1.071254
361    0.584741
360    0.584741
120    3.743048
121    3.743048
1      0.702112
0      0.702112
390    0.790020
391    0.790020
211    0.659374
210    0.659374
90     1.276017
91     1.276017
60     0.802174
61     0.802174
241    0.465004
240    0.465004
181    0.824047
180    0.824047
Name: wasserstein, dtype: float64
longitude
x_values  332    2013-03-14T00:00:00.000Z
333    2013-03-14T00:00:00.000Z
303    2013-04-13T00:00:00.000Z
302    2013-04-13T00:00:00.000Z
32     2013-05-13T00:00:00.000Z
33     2013-05-13T00:00:00.000Z
153    2013-06-12T00:00:00.000Z
152    2013-06-12T00:00:00.000Z
273    2013-07-12T00:00:00.000Z
272    2013-07-12T00:00:00.000Z
362    2013-08-11T00:00:00.000Z
363    2013-08-11T00:00:00.000Z
122    2013-09-10T00:00:00.000Z
123    2013-09-10T00:00:00.000Z
3      2013-10-10T00:00:00.000Z
2      2013-10-10T00:00:00.000Z
392    2013-11-09T00:00:00.000Z
393    2013-11-09T00:00:00.000Z
213    2013-12-09T00:00:00.000Z
212    2013-12-09T00:00:00.000Z
92     2014-01-08T00:00:00.000Z
93     2014-01-08T00:00:00.000Z
62     2014-02-07T00:00:00.000Z
63     2014-02-07T00:00:00.000Z
243    2014-03-09T00:00:00.000Z
242    2014-03-09T00:00:00.000Z
183    2014-04-08T00:00:00.000Z
182    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  332    10.251776
333    10.251776
303    22.177541
302    22.177541
32      8.683066
33      8.683066
153     2.099591
152     2.099591
273     6.440480
272     6.440480
362     1.179959
363     1.179959
122    23.298896
123    23.298896
3       2.603277
2       2.603277
392     5.471306
393     5.471306
213     2.709232
212     2.709232
92      4.242531
93      4.242531
62      3.083281
63      3.083281
243     4.120547
242     4.120547
183     5.564073
182     5.564073
Name: wasserstein, dtype: float64
elevation
x_values  [0]
y_values  [0]
windAngle
x_values  [0]
y_values  [0]
stationName
x_values  [0]
y_values  [0]
day
x_values  [0]
y_values  [0]
cloudCoverage_1
x_values  [0]
y_values  [0]
precipTime_1
x_values  351    2013-03-14T00:00:00.000Z
350    2013-03-14T00:00:00.000Z
320    2013-04-13T00:00:00.000Z
321    2013-04-13T00:00:00.000Z
51     2013-05-13T00:00:00.000Z
50     2013-05-13T00:00:00.000Z
170    2013-06-12T00:00:00.000Z
171    2013-06-12T00:00:00.000Z
291    2013-07-12T00:00:00.000Z
290    2013-07-12T00:00:00.000Z
380    2013-08-11T00:00:00.000Z
381    2013-08-11T00:00:00.000Z
140    2013-09-10T00:00:00.000Z
141    2013-09-10T00:00:00.000Z
20     2013-10-10T00:00:00.000Z
21     2013-10-10T00:00:00.000Z
410    2013-11-09T00:00:00.000Z
411    2013-11-09T00:00:00.000Z
231    2013-12-09T00:00:00.000Z
230    2013-12-09T00:00:00.000Z
111    2014-01-08T00:00:00.000Z
110    2014-01-08T00:00:00.000Z
81     2014-02-07T00:00:00.000Z
80     2014-02-07T00:00:00.000Z
260    2014-03-09T00:00:00.000Z
261    2014-03-09T00:00:00.000Z
201    2014-04-08T00:00:00.000Z
200    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  351    0.884334
350    0.884334
320    0.573912
321    0.573912
51     0.310802
50     0.310802
170    0.595087
171    0.595087
291    0.506900
290    0.506900
380    0.109039
381    0.109039
140    1.272637
141    1.272637
20     0.297527
21     0.297527
410    0.388128
411    0.388128
231    0.843902
230    0.843902
111    1.114617
110    1.114617
81     0.839573
80     0.839573
260    0.501367
261    0.501367
201    0.786086
200    0.786086
Name: wasserstein, dtype: float64
precipTime_1
x_values  171    2013-03-14T00:00:00.000Z
170    2013-03-14T00:00:00.000Z
21     2013-04-13T00:00:00.000Z
20     2013-04-13T00:00:00.000Z
411    2013-05-13T00:00:00.000Z
410    2013-05-13T00:00:00.000Z
291    2013-06-12T00:00:00.000Z
290    2013-06-12T00:00:00.000Z
110    2013-07-12T00:00:00.000Z
111    2013-07-12T00:00:00.000Z
260    2013-08-11T00:00:00.000Z
261    2013-08-11T00:00:00.000Z
51     2013-09-10T00:00:00.000Z
50     2013-09-10T00:00:00.000Z
141    2013-10-10T00:00:00.000Z
140    2013-10-10T00:00:00.000Z
381    2013-11-09T00:00:00.000Z
380    2013-11-09T00:00:00.000Z
200    2013-12-09T00:00:00.000Z
201    2013-12-09T00:00:00.000Z
230    2014-01-08T00:00:00.000Z
231    2014-01-08T00:00:00.000Z
81     2014-02-07T00:00:00.000Z
80     2014-02-07T00:00:00.000Z
320    2014-03-09T00:00:00.000Z
321    2014-03-09T00:00:00.000Z
350    2014-04-08T00:00:00.000Z
351    2014-04-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  171    0.484405
170    0.484405
21     0.673097
20     0.673097
411    0.221686
410    0.221686
291    1.226371
290    1.226371
110    1.027444
111    1.027444
260    0.635350
261    0.635350
51     1.078194
50     1.078194
141    0.778382
140    0.778382
381    0.308374
380    0.308374
200    1.588781
201    1.588781
230    0.951205
231    0.951205
81     0.114177
80     0.114177
320    0.435031
321    0.435031
350    0.309115
351    0.309115
Name: wasserstein, dtype: float64
precipTime_1
x_values  411    2013-03-14T00:00:00.000Z
410    2013-03-14T00:00:00.000Z
291    2013-04-13T00:00:00.000Z
290    2013-04-13T00:00:00.000Z
230    2013-05-13T00:00:00.000Z
231    2013-05-13T00:00:00.000Z
351    2013-06-12T00:00:00.000Z
350    2013-06-12T00:00:00.000Z
440    2013-07-12T00:00:00.000Z
441    2013-07-12T00:00:00.000Z
110    2013-08-11T00:00:00.000Z
111    2013-08-11T00:00:00.000Z
201    2013-09-10T00:00:00.000Z
200    2013-09-10T00:00:00.000Z
260    2013-10-10T00:00:00.000Z
261    2013-10-10T00:00:00.000Z
21     2013-11-09T00:00:00.000Z
20     2013-11-09T00:00:00.000Z
381    2013-12-09T00:00:00.000Z
380    2013-12-09T00:00:00.000Z
320    2014-01-08T00:00:00.000Z
321    2014-01-08T00:00:00.000Z
171    2014-02-07T00:00:00.000Z
170    2014-02-07T00:00:00.000Z
81     2014-03-09T00:00:00.000Z
80     2014-03-09T00:00:00.000Z
140    2014-04-08T00:00:00.000Z
141    2014-04-08T00:00:00.000Z
51     2014-05-08T00:00:00.000Z
50     2014-05-08T00:00:00.000Z
Name: frequency, dtype: object
y_values  411    0.769225
410    0.769225
291    0.965530
290    0.965530
230    0.278611
231    0.278611
351    0.340715
350    0.340715
440    1.452165
441    1.452165
110    1.028204
111    1.028204
201    2.062964
200    2.062964
260    0.573318
261    0.573318
21     0.355639
20     0.355639
381    1.819764
380    1.819764
320    0.721165
321    0.721165
171    0.298316
170    0.298316
81     0.428542
80     0.428542
140    0.622802
141    0.622802
51     1.117026
50     1.117026
Name: wasserstein, dtype: float64